body {
    background-color: rgb(24, 24, 24);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

